In [1]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.ensemble import GradientBoostingClassifier
from sklearn.svm import SVC
from sklearn.metrics import classification_report
import warnings

In [2]:
warnings.filterwarnings('ignore')

In [3]:
df=pd.read_csv('Lead Scoring.csv')
df

,Prospect ID,Lead Number,Lead Origin,Lead Source,Do Not Email,Do Not Call,Converted,TotalVisits,Total Time Spent on Website,Page Views Per Visit,...,Get updates on DM Content,Lead Profile,City,Asymmetrique Activity Index,Asymmetrique Profile Index,Asymmetrique Activity Score,Asymmetrique Profile Score,I agree to pay the amount through cheque,A free copy of Mastering The Interview,Last Notable Activity
0,7927b2df-8bba-4d29-b9a2-b6e0beafe620,660737,API,Olark Chat,No,No,0,0.0,0,0.00,...,No,Select,Select,02.Medium,02.Medium,15.0,15.0,No,No,Modified
1,2a272436-5132-4136-86fa-dcc88c88f482,660728,API,Organic Search,No,No,0,5.0,674,2.50,...,No,Select,Select,02.Medium,02.Medium,15.0,15.0,No,No,Email Opened
2,8cc8c611-a219-4f35-ad23-fdfd2656bd8a,660727,Landing Page Submission,Direct Traffic,No,No,1,2.0,1532,2.00,...,No,Potential Lead,Mumbai,02.Medium,01.High,14.0,20.0,No,Yes,Email Opened
3,0cc2df48-7cf4-4e39-9de9-19797f9b38cc,660719,Landing Page Submission,Direct Traffic,No,No,0,1.0,305,1.00,...,No,Select,Mumbai,02.Medium,01.High,13.0,17.0,No,No,Modified
4,3256f628-e534-4826-9d63-4a8b88782852,660681,Landing Page Submission,Google,No,No,1,2.0,1428,1.00,...,No,Select,Mumbai,02.Medium,01.High,15.0,18.0,No,No,Modified
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9235,19d6451e-fcd6-407c-b83b-48e1af805ea9,579564,Landing Page Submission,Direct Traffic,Yes,No,1,8.0,1845,2.67,...,No,Potential Lead,Mumbai,02.Medium,01.High,15.0,17.0,No,No,Email Marked Spam
9236,82a7005b-7196-4d56-95ce-a79f937a158d,579546,Landing Page Submission,Direct Traffic,No,No,0,2.0,238,2.00,...,No,Potential Lead,Mumbai,02.Medium,01.High,14.0,19.0,No,Yes,SMS Sent
9237,aac550fe-a586-452d-8d3c-f1b62c94e02c,579545,Landing Page Submission,Direct Traffic,Yes,No,0,2.0,199,2.00,...,No,Potential Lead,Mumbai,02.Medium,01.High,13.0,20.0,No,Yes,SMS Sent
9238,5330a7d1-2f2b-4df4-85d6-64ca2f6b95b9,579538,Landing Page Submission,Google,No,No,1,3.0,499,3.00,...,No,NaN,Other Metro Cities,02.Medium,02.Medium,15.0,16.0,No,No,SMS Sent
9239,571b5c8e-a5b2-4d57-8574-f2ffb06fdeff,579533,Landing Page Submission,Direct Traffic,No,No,1,6.0,1279,3.00,...,No,Potential Lead,Other Cities,02.Medium,01.High,15.0,18.0,No,Yes,Modified

In [4]:
df = df[~df['Lead Quality'].isna()]

In [5]:
target = 'Lead Quality'
features = df.drop(columns=[target])

In [6]:
df.columns

Index(['Prospect ID', 'Lead Number', 'Lead Origin', 'Lead Source',
       'Do Not Email', 'Do Not Call', 'Converted', 'TotalVisits',
       'Total Time Spent on Website', 'Page Views Per Visit', 'Last Activity',
       'Country', 'Specialization', 'How did you hear about X Education',
       'What is your current occupation',
       'What matters most to you in choosing a course', 'Search', 'Magazine',
       'Newspaper Article', 'X Education Forums', 'Newspaper',
       'Digital Advertisement', 'Through Recommendations',
       'Receive More Updates About Our Courses', 'Tags', 'Lead Quality',
       'Update me on Supply Chain Content', 'Get updates on DM Content',
       'Lead Profile', 'City', 'Asymmetrique Activity Index',
       'Asymmetrique Profile Index', 'Asymmetrique Activity Score',
       'Asymmetrique Profile Score',
       'I agree to pay the amount through cheque',
       'A free copy of Mastering The Interview', 'Last Notable Activity'],
      dtype='object')

In [7]:
df=df.drop(columns=['Prospect ID','Lead Number','Do Not Email','Do Not Call','How did you hear about X Education',
                    'A free copy of Mastering The Interview','Tags','Asymmetrique Activity Index','Asymmetrique Profile Index',
                    'Asymmetrique Activity Score','Asymmetrique Profile Score'])
df.columns

Index(['Lead Origin', 'Lead Source', 'Converted', 'TotalVisits',
       'Total Time Spent on Website', 'Page Views Per Visit', 'Last Activity',
       'Country', 'Specialization', 'What is your current occupation',
       'What matters most to you in choosing a course', 'Search', 'Magazine',
       'Newspaper Article', 'X Education Forums', 'Newspaper',
       'Digital Advertisement', 'Through Recommendations',
       'Receive More Updates About Our Courses', 'Lead Quality',
       'Update me on Supply Chain Content', 'Get updates on DM Content',
       'Lead Profile', 'City', 'I agree to pay the amount through cheque',
       'Last Notable Activity'],
      dtype='object')

In [8]:
df.head()

,Lead Origin,Lead Source,Converted,TotalVisits,Total Time Spent on Website,Page Views Per Visit,Last Activity,Country,Specialization,What is your current occupation,...,Digital Advertisement,Through Recommendations,Receive More Updates About Our Courses,Lead Quality,Update me on Supply Chain Content,Get updates on DM Content,Lead Profile,City,I agree to pay the amount through cheque,Last Notable Activity
0,API,Olark Chat,0,0.0,0,0.0,Page Visited on Website,NaN,Select,Unemployed,...,No,No,No,Low in Relevance,No,No,Select,Select,No,Modified
2,Landing Page Submission,Direct Traffic,1,2.0,1532,2.0,Email Opened,India,Business Administration,Student,...,No,No,No,Might be,No,No,Potential Lead,Mumbai,No,Email Opened
3,Landing Page Submission,Direct Traffic,0,1.0,305,1.0,Unreachable,India,Media and Advertising,Unemployed,...,No,No,No,Not Sure,No,No,Select,Mumbai,No,Modified
4,Landing Page Submission,Google,1,2.0,1428,1.0,Converted to Lead,India,Select,Unemployed,...,No,No,No,Might be,No,No,Select,Mumbai,No,Modified
6,Landing Page Submission,Google,1,2.0,1640,2.0,Email Opened,India,Supply Chain Management,Unemployed,...,No,No,No,Low in Relevance,No,No,Potential Lead,Mumbai,No,Modified

In [9]:
df.tail()

,Lead Origin,Lead Source,Converted,TotalVisits,Total Time Spent on Website,Page Views Per Visit,Last Activity,Country,Specialization,What is your current occupation,...,Digital Advertisement,Through Recommendations,Receive More Updates About Our Courses,Lead Quality,Update me on Supply Chain Content,Get updates on DM Content,Lead Profile,City,I agree to pay the amount through cheque,Last Notable Activity
9234,Landing Page Submission,Direct Traffic,1,5.0,210,2.50,SMS Sent,India,Business Administration,Unemployed,...,No,No,No,Might be,No,No,Potential Lead,Mumbai,No,Modified
9235,Landing Page Submission,Direct Traffic,1,8.0,1845,2.67,Email Marked Spam,Saudi Arabia,IT Projects Management,Unemployed,...,No,No,No,High in Relevance,No,No,Potential Lead,Mumbai,No,Email Marked Spam
9236,Landing Page Submission,Direct Traffic,0,2.0,238,2.00,SMS Sent,India,Media and Advertising,Unemployed,...,No,No,No,Might be,No,No,Potential Lead,Mumbai,No,SMS Sent
9237,Landing Page Submission,Direct Traffic,0,2.0,199,2.00,SMS Sent,India,Business Administration,Unemployed,...,No,No,No,Not Sure,No,No,Potential Lead,Mumbai,No,SMS Sent
9239,Landing Page Submission,Direct Traffic,1,6.0,1279,3.00,SMS Sent,Bangladesh,Supply Chain Management,Unemployed,...,No,No,No,Might be,No,No,Potential Lead,Other Cities,No,Modified

In [10]:
df.describe()

,Converted,TotalVisits,Total Time Spent on Website,Page Views Per Visit
count,4473.000000,4374.000000,4473.000000,4374.000000
mean,0.567181,3.791724,600.523362,2.599442
std,0.495522,5.288807,581.525926,2.081788
min,0.000000,0.000000,0.000000,0.000000
25%,0.000000,2.000000,67.000000,1.250000
50%,1.000000,3.000000,358.000000,2.000000
75%,1.000000,5.000000,1113.000000,4.000000
max,1.000000,251.000000,2272.000000,16.000000

In [11]:
df.isnull().sum()

Lead Origin                                        0
Lead Source                                       22
Converted                                          0
TotalVisits                                       99
Total Time Spent on Website                        0
Page Views Per Visit                              99
Last Activity                                     78
Country                                          977
Specialization                                     0
What is your current occupation                    0
What matters most to you in choosing a course      0
Search                                             0
Magazine                                           0
Newspaper Article                                  0
X Education Forums                                 0
Newspaper                                          0
Digital Advertisement                              0
Through Recommendations                            0
Receive More Updates About Our Courses             0
Lead Quality                                       0
Update me on Supply Chain Content                  0
Get updates on DM Content                          0
Lead Profile                                       0
City                                               0
I agree to pay the amount through cheque           0
Last Notable Activity                              0
dtype: int64

In [12]:
(df.isnull().sum()/len(df))*100

Lead Origin                                       0.000000
Lead Source                                       0.491840
Converted                                         0.000000
TotalVisits                                       2.213280
Total Time Spent on Website                       0.000000
Page Views Per Visit                              2.213280
Last Activity                                     1.743796
Country                                          21.842164
Specialization                                    0.000000
What is your current occupation                   0.000000
What matters most to you in choosing a course     0.000000
Search                                            0.000000
Magazine                                          0.000000
Newspaper Article                                 0.000000
X Education Forums                                0.000000
Newspaper                                         0.000000
Digital Advertisement                             0.000000
Through Recommendations                           0.000000
Receive More Updates About Our Courses            0.000000
Lead Quality                                      0.000000
Update me on Supply Chain Content                 0.000000
Get updates on DM Content                         0.000000
Lead Profile                                      0.000000
City                                              0.000000
I agree to pay the amount through cheque          0.000000
Last Notable Activity                             0.000000
dtype: float64

In [13]:
df.dtypes

Lead Origin                                       object
Lead Source                                       object
Converted                                          int64
TotalVisits                                      float64
Total Time Spent on Website                        int64
Page Views Per Visit                             float64
Last Activity                                     object
Country                                           object
Specialization                                    object
What is your current occupation                   object
What matters most to you in choosing a course     object
Search                                            object
Magazine                                          object
Newspaper Article                                 object
X Education Forums                                object
Newspaper                                         object
Digital Advertisement                             object
Through Recommendations                           object
Receive More Updates About Our Courses            object
Lead Quality                                      object
Update me on Supply Chain Content                 object
Get updates on DM Content                         object
Lead Profile                                      object
City                                              object
I agree to pay the amount through cheque          object
Last Notable Activity                             object
dtype: object

In [14]:
cat_cols = df.select_dtypes(include='object').columns

In [15]:
for col in cat_cols:
    if df[col].isnull().sum()>0:
        df[col].fillna('missing', inplace=True)

In [16]:
df[cat_cols]=df[cat_cols].apply(lambda col:col.str.lower())
df[cat_cols]=df[cat_cols].apply(lambda col:col.str.strip())

In [17]:
num_cols=df.select_dtypes(include=['int64','float64'])

In [18]:
for col in num_cols:
    if df[col].isnull().sum()>0:
        df.fillna(df[col].median(), inplace=True)

In [19]:
df.isnull().sum()

Lead Origin                                      0
Lead Source                                      0
Converted                                        0
TotalVisits                                      0
Total Time Spent on Website                      0
Page Views Per Visit                             0
Last Activity                                    0
Country                                          0
Specialization                                   0
What is your current occupation                  0
What matters most to you in choosing a course    0
Search                                           0
Magazine                                         0
Newspaper Article                                0
X Education Forums                               0
Newspaper                                        0
Digital Advertisement                            0
Through Recommendations                          0
Receive More Updates About Our Courses           0
Lead Quality                                     0
Update me on Supply Chain Content                0
Get updates on DM Content                        0
Lead Profile                                     0
City                                             0
I agree to pay the amount through cheque         0
Last Notable Activity                            0
dtype: int64

In [20]:
df.columns = df.columns.str.lower().str.strip()

In [21]:
x=df.drop(columns=['converted'])
y=df['converted']

In [22]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.20,random_state=42)

In [23]:
x_train = pd.get_dummies(x_train, drop_first=True)
x_test = pd.get_dummies(x_test, drop_first=True)
x_test = x_test.reindex(columns=x_train.columns, fill_value=0)

In [24]:
models = {
    "Logistic Regression": LogisticRegression(class_weight='balanced',max_iter=1000),
    "Decision Tree": DecisionTreeClassifier(random_state=42),
    "Random Forest": RandomForestClassifier(random_state=42),
    "GradientBoosting": GradientBoostingClassifier(random_state=42),
    "SVM": SVC(random_state=42)
}

In [25]:
results={}
for name,model in models.items():
    model.fit(x_train,y_train)
    y_pred=model.predict(x_test)
    print(model)
    report=classification_report(y_test,y_pred)
    print(report)

LogisticRegression(class_weight='balanced', max_iter=1000)
              precision    recall  f1-score   support

           0       0.84      0.83      0.84       404
           1       0.86      0.87      0.87       491

    accuracy                           0.85       895
   macro avg       0.85      0.85      0.85       895
weighted avg       0.85      0.85      0.85       895

DecisionTreeClassifier(random_state=42)
              precision    recall  f1-score   support

           0       0.79      0.79      0.79       404
           1       0.83      0.83      0.83       491

    accuracy                           0.81       895
   macro avg       0.81      0.81      0.81       895
weighted avg       0.81      0.81      0.81       895

RandomForestClassifier(random_state=42)
              precision    recall  f1-score   support

           0       0.87      0.81      0.84       404
           1       0.85      0.90      0.87       491

    accuracy                           0.86       895
   macro avg       0.86      0.85      0.86       895
weighted avg       0.86      0.86      0.86       895

GradientBoostingClassifier(random_state=42)
              precision    recall  f1-score   support

           0       0.85      0.82      0.83       404
           1       0.85      0.88      0.87       491

    accuracy                           0.85       895
   macro avg       0.85      0.85      0.85       895
weighted avg       0.85      0.85      0.85       895

SVC(random_state=42)
              precision    recall  f1-score   support

           0       0.81      0.55      0.66       404
           1       0.71      0.89      0.79       491

    accuracy                           0.74       895
   macro avg       0.76      0.72      0.72       895
weighted avg       0.75      0.74      0.73       895

In [37]:
import joblib
joblib.dump(model, "lead_scoring_model.pkl")

['lead_scoring_model.pkl']